* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Geist Mono", monospace;
    background-color: #F5F5F5; 
    color: #5D5D5D; 
}

/* Index page */
.navsection {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: rgb(227, 228, 232) ;
    width:auto;
    height: 82px;
    
}

.navbar {
    background-color: #757462 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px; 

}
.logo {
   
    height: 80px;  
    padding: 5px; 
    background-color: transparent; 
    display: inline-block;   
}

.nav-buttons a {
    color: #000;
    text-decoration: none;
    padding: 15px 20px;
    margin: 0 5px;
    border: 2px solid #354341; 
    border-radius: 5px;
    transition: all 0.3s ease;
}

.nav-buttons a:hover, .nav-buttons a.nav-active {
    border-color: #fff;
    background-color: rgba(174, 137, 76, 0.2);
    color: #FFFFFF;
}


.banner {
   
    background-image: url(fond.png); 
    background-size: cover;
    background-position: 50% 73%; 
    background-repeat: no-repeat; 
    height: 400px;
    margin-top: 82px;
    margin-bottom: 3%;

}

.content {
    color: #fff;
    text-align: center;
    padding: 50px;
    margin: 20px;
    border-radius: 8px;
}

.banner-txt {
    font-size: 2em;
    text-shadow: 
        -1px -1px 0 #000, 
         1px -1px 0 #000, 
        -1px  1px 0 #000, 
         1px  1px 0 #000;
    font-family: "Gloria Hallelujah", cursive;
    font-style: normal;
    color: #ebdfd9;
    margin-left: -240px;
}

.content > p {
    color: #06242d ;
    font-size: 2.5em;
    font-family: "Geist Mono", monospace;
    width: 100%;
    height: fit-content;
    display: block;
    padding: 10px;
    text-shadow: 4px 4px 20px #FDFAFF;
} 

.slogan-1 {
    margin-left: -350px;
}
.slogan-2 {
    margin-left: -220px;
}
.slogan-3 {
    margin-left: 70px;
}
.contenu {

    font-family: "Geist Mono", monospace;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.list-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes */
    gap: 20px;
    width: 80%; /* ajuster à volonté */
}

.list-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    text-align: center;
    transition: all 0.4s ease;
}

.list-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.list-item:hover img {
    opacity: 0.5; /* atténuer l'image au survol */
}

.list-item a::before {
    content: attr(data-alt);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #1c0123;
    font-size: 2em;
    font-weight: bold;
    font-family: "Shadows Into Light Two", cursive;
    opacity: 0;
    transition: opacity 0.3s ease;
    white-space: nowrap;
    z-index: 1;
}

.list-item p {
    padding: 15px;
    font-size: 1em;
    font-family: "Geist Mono", monospace;
}
.list-item h3 {
    padding: 7px;
}
.list-item:hover {
    transform: translateY(-10px); /* survol */
}

.list-item a {
    color: inherit;
    text-decoration: none;
}

.list-item:hover a::before {
    opacity: 1; /* afficher le texte au survol */
}
.list-item img {
    width: 100%;
    height: 200px;
    object-fit: cover; /* ajuster l'image pour qu'elle couvre toute la zone */
}

.list-item p {
    padding: 15px;
    font-size: 1em;
    font-weight: bold;
}

.intro {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: space-around;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 7%;
    padding: 30px;

}

.top-txt {
    display: flex;
    justify-content: center;
    font-size: 2.3em;
    margin-bottom: 4%;
    font-family: "Gloria Hallelujah", cursive;
    color: #3D4937;
}
.top-txt1 {
    display: flex;
    justify-content: center;
    font-size: 1.8em;
    font-family: "Gloria Hallelujah", cursive;
    color: #3D4937;

}
.question {
    font-size: 2em;
    font-family: "Gloria Hallelujah", cursive;
    color: #3D4937;
    margin-bottom: 10px;
    padding: 10px;
}

.text {
    font-size: 1.2em;
    color: #666;
    font-family: "Geist Mono", monospace;

}
.call-to-action {
    transition: all 0.4s ease;
    background-color:#95190C;
    border-radius: 10px;
    padding: 10px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
} 
.call-to-action:hover {
    bottom:30px;
}
.call-to-action a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}
.call-to-action a::before {
    content: " ";
    background-image: url("icn-test.png");
    padding: 20px;
    background-repeat: no-repeat;
    background-size: 32px;
}
footer {
    background: rgb(10,36,43);
    background: linear-gradient(90deg, rgba(10,36,43,1) 16%, rgba(117,116,98,1) 100%);
    display: flex;
    justify-content: space-around;
    color: #FFFFFF;
    font-size: 0.8em;
    width: 100%;
    margin: 0;
    margin-top: 50px;
    padding: 50px;
}
footer h2 {
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 5px;
    margin-bottom: 20px;

}
footer h3 {
    font-family: "Gloria Hallelujah", cursive;
    font-style: normal;
    font-size: 2em;
    display: inline;
    position: relative;
    top: -15px;
    left: 10px; 
}
footer ul {
    list-style-type: none;
}
.footer-col1 {
    width: 30%;
    vertical-align: top;
    margin:20px;
}
.footer-col1 p {
    margin-top: 20px;
}
.social-icons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 120px;
}
.logo-footer-container {
    background-color: #FFFFFF;
    border-radius: 50%;
    width: fit-content;
    padding: 10px;
    display: inline-block;
}
.logo-footer-container img {
    width: 50px;
    display: inline-block;
}
.footer-col2 {
    width: 30%;
    vertical-align: top;
    margin:20px;

}
.footer-col3 {
    width: 30%;
    vertical-align: top;
    margin:20px;
}
.footer-col3 img {
    width: 100px;
    background: #ffffff;
    display: block;
    margin: 5px;
}

/* Test page */
.banner-test {
    background-position: 50% 76%;
    height: 200px;
    background-image: url(banner-test.png); 

}
.test-container {
    width: 800px;
    margin-top: -40px;
    display: flex;
    flex-direction: column;

}
.test-container p {
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.test-container input[type="radio"] {
    margin-right: 10px;
}
.test-container li {
    padding-bottom: 20px;
}
.test-container input[type="submit"] {
    background-color: #95190C;
    padding: 15px 20px;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

/* Arachnophobie page */

.banner-spider {

    background-position: 50% 49%;
    height: 250px;
    background-image: url(banner-spider.png); 
}
   
.top-txt1 {
    margin-top: -50px;
    margin-bottom: 20px;
}

.colonnes-spider {
    background-color:#F5F5F5;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes de même taille */
    
    gap: 20px; /* Espacement entre colonnes */
    padding: 20px;
}

.spidercolumn {
    background-color: #FFF0F5; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}

.spidercolumn:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #f8ede87e; /* plus foncée  */
}

.spidercolumn h4 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #B0866B ; /* Couleur pastel titre */
    margin-bottom: 10px;
    text-align: center;
}

.spidercolumn p {
    font-size: 1rem;
    line-height: 1.6;
    text-align: justify;
    color: #5D5D5D; /* Couleur texte */
}

.quest-spider {
    background-color: #FFF0F5; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    display: flex;
    justify-content: center;
    align-content:space-around; 
    gap: 20px;
    max-width: 1200px; 
    max-height: 800px;
    margin: 20px auto; 
}

.quest-spider:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #f8ede87e; /* Couleur légèrement plus foncée au survol */
}

.quest-spider img {
    width: 80px; 
    height: 80px;
}

.quest-spider h4 {
    font-size: 1.4rem;
    font-weight: bold;
    color: #B0866B; /* Couleur pastel pour le titre */
    margin-bottom: 10px;
}

.quest-spider p {
    font-size: 1rem;
    line-height: 1.6;
    color: #5D5D5D; /* Couleur texte */
    text-align: justify;
}

/* Pour les titres et textes supplémentaires */
.top-txt {
    font-size: 1.8rem;
    font-weight: bold;
    color: #5D5D5D;
    text-align: center;
    margin-top: 20px;
}

.top-txt1 {
    font-size: 1.2rem;
    color: #5D5D5D;
    text-align: center;
    margin-bottom: 20px;
}